<% content_for :title, "Editing proveedor" %>
  <div class="container">

    <h1>Editing proveedor</h1>

    <%= render "form" , proveedor: @proveedor %>

      <br>

      <div>
        <%= link_to "Show this proveedor" , @proveedor %> |
          <%= link_to "Back to proveedores" , proveedores_path %>
      </div>

  </div>