<p style="color: green"><%= notice %></p>

<% content_for :title, "Proveedores" %>

<h1>Proveedores</h1>

<div id="proveedores">
  <% @proveedores.each do |proveedor| %>
    <%= render proveedor %>
    <p>
      <%= link_to "Show this proveedor", proveedor %>
    </p>
  <% end %>
</div>

<%= link_to "New proveedor", new_proveedor_path %>
