<% content_for :title, "New ventadetalle" %>

<h1>New ventadetalle</h1>

<%= render "form", ventadetalle: @ventadetalle %>

<br>

<div>
  <%= link_to "Back to ventadetalles", ventadetalles_path %>
</div>
