<% content_for :title, "Editing venta" %>

  <div class="container">
    <h1>Editing venta</h1>

    <%= render "form" , venta: @venta %>

      <br>

      <div>
        <%= link_to "Show this venta" , @venta %> |
          <%= link_to "Back to ventas" , ventas_path %>
      </div>

  </div>