<% content_for :title, "New venta" %>
  <div class="container">
    <h1>New venta</h1>
    <%= render "form" , venta: @venta %>
      <br>
      <div>
        <%= link_to "Back to ventas" , ventas_path %>
      </div>
  </div>